---
layout:post
---
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title}}</title>
  </head>
  <body>
    {%include header.html color="blue"%}
    {{ content }}
  </body>
  <footer>
    <div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-assignment1-martina261482-codeanyapp-com-4000.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </footer>
</html>